
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    color: #4b2e2e;
    text-align: center;

    margin: 0;
}
header {
    background: #8b5a2b;
    padding: 20px;
    color: white;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #FFD700;
}
.cta {
    margin: 10px;
    background: #d2691e;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
footer {
    background: #4b2e2e;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.section {
    width: 65%;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #ccc;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
label {
    font-weight: bold;
}
textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: #45a049;
}